//
// SVG icons
//

/** ***********
 * DOM wrapper
 */
.c-icon-defs {
  height: 0;
  width: 0;
  overflow: hidden;
}



/** ***********
 * Component
 */
.c-icon {
  @include u-baseline(2, width);
  @include u-baseline(2, height);
  display: inline-block;
  transform: translateY(-.1em);
  vertical-align: middle;

  &:not(.c-icon--nofill) {
    fill: currentColor;
  }

  svg {
    max-width: 100%;
    max-height: 100%;
  }
}
