{#
 # Back to top arrow
 #}
<div class="m-backtotop" data-backtotop>
	<a href="#top" class="m-backtotop__link" title="{{'styleguide.backtotop.title'|t}}" aria-label="{{'styleguide.backtotop.title'|t}}" data-scroller>
		{{styleguide({
			type: 'components',
			name: 'icon',
			options: {
				value: 'arrow'
			}
		})}}
	</a>
</div>
